<Config>
  <LogLevel>Info</LogLevel>
  <Port>7979</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9797</SslPort>
  <EnableSsl>False</EnableSsl>
  <AuthenticationMethod>None</AuthenticationMethod>
  <LaunchBrowser>False</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>